/*DESKTOP DESIGN
*/
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    
}
body{
    display: flex;
    font-size: 16px;
    background: url('images/pattern-background-desktop.svg');
    background-repeat: repeat-x;
    background-color: hsl(225, 100%, 94%);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    width:80%;
    max-width: 30rem;
    height: 80vh;
    background-color: hsl(225, 100%, 98%);
    border-radius: 20px;
    font-size: 16px;
}
.slika1{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 32%;
}
.naslov{
    font-weight: 900;
    color:hsl(223, 47%, 23%);
    text-align: center;
    margin-top: 10%;
}
.para{
    padding-top:5%;
    padding-left: 15%;
    padding-right: 15%;
}
p{
    color:hsl(224, 23%, 55%);
    text-align: center;
}
.sredina{
    display: flex;
    flex-direction: row;
    padding-left: 17%;
    padding-right: 15%;
    padding-top:10%;
}
a{
    display:flex;
    flex-direction: column;
    text-decoration: underline;
    color:hsl(245, 75%, 52%);
    font-weight: 700;
    margin-left: 30%;
    margin-right: 0;
    margin-top: 3%;
}
.gore{
    font-weight: 900;
    color:hsl(223, 47%, 23%);
}
.dole{
    color:hsl(224, 23%, 55%);
}
.cena{
    padding-left: 5%;
    
}
.gumb{
    padding-top: 15%;
    display: flex;
    flex-direction: column;
}
.gumb button{
    background-color: hsl(245, 75%, 52%);
    color:hsl(225, 100%, 98%);
    border:none;
    width:80%;
    height: 5vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}
.gumb h3{
    font-size: 16px;
    margin-top:7%;
    margin-left: auto;
    margin-right: auto;
    color:hsl(224, 23%, 55%);
    font-weight: 900;
}

/*ACTIVE STATES
*/
a:hover{
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    cursor: pointer;

}
.gumb button:hover{
    background-color: hsl(224, 23%, 55%);
    cursor: pointer;

}
.gumb h3:hover{
    color:hsl(223, 47%, 23%);
    cursor: pointer;
}

/*RESPONSIVE
*/
@media screen and (max-width:375px){
    .container{
        width:90%;
    }
    .gumb button{
        width:90%;
    }
    .sredina{
        padding-left: 5%;
    }
    .cena{
        min-width: 40%;
    }
    a{
        margin-left: 25%;
    }
}